body{
    background-color: #f1e3cc;
    font-family: 'Arial, Helvetica, sans-serif';
    font-size: 12px;
}

header{
    width: 100%;
}

#logo{
    background: #f0e4b0;
    width: 220px;
    position: absolute;
    left: 75px;
    z-index: 10;
}

#logo img{
    padding: 0 10px;
    width: 200px;
}

header nav{
    float: right;
    height: 45px;
    margin: 25px 40px 0 0;

}

header nav li{
    float: left;
    padding: 0 8px;
}

header nav li a{
    color: #662033;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

header nav li a:hover, header nav li a.selected{
    color: #888888;
    text-decoration: underline;
}

#coverSection{
    clear: both;
    height: 100%;
    width: 100%;
    position: relative;
    top: 0px;
    left: 0;
    overflow: hidden;

}

#coverSlide{
    width: 500%;
    height: 100%;
}

.cover{
    width: 20%;
    height: 100%;
    float: left;
    max-height: 667px;
    overflow: hidden;
}

.cover img{
    width: 100%;
}

#slogan{
    background: #000000;
    left: 50px;
    opacity: 0.6;
    position: absolute;
    top: 70%;
}

#slogan div{
    color: #FFFFFF;
    font-size: 36px;
    font-weight: bold;
    padding: 20px 15px;
}

footer{
    margin: 0 auto;
    padding: 15px 0;
    position: relative;
    width: 800px;
    text-align: center;
}

footer small{
    color: #888888;
    font-size: 14px;
}

#popUp{
    position: absolute;
    background: #ffffff;
    height: 550px;
    width: 80%;
    top: 20%;
    left: 10%;
    opacity: 0.9;
    display: none;
}

#popUp aside{
    left: 96%;
    position: absolute;
    top: 1%;
    cursor: pointer;
}

#popUp aside img{
    width: 28px;
}

#popUp .content{
    max-height: 490px;
    min-height: 435px;
    padding-left: 10%;
    position: relative;
    top: 50px;
    overflow: scroll;
}


/*
    Contact Styles
*/

#contactSection{
    font-family: Arial,Helvetica,sans-serif;
}

#contactSection h1{
    color: #662033;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 30px;
}

#contactSection p{
    font-size: 14px;
    margin-bottom: 25px;
    width: 70%;
}

#contactSection input[type="text"], textarea{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #662033;
    color: #662033;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10pt;
    font-style: italic;
    height: 20px;
    letter-spacing: normal;
    outline-style: none;
    width: 300px;
}

#contactSection .field_name {
    clear: left;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    margin: 5px 15px;
    width: 100px;
}

#contactSection .field_value {
    float: left;
    font-size: 12px;
    height: 30px;
    width: 240px;
}

#contactSection .contact{
    height:160px;
    margin-bottom: 30px;
}

#contactSection .contact textarea{
    height: 160px;
}

#contactSection .send{
    clear: both;
}

#contactSection .send input{
    background: #662033;
    border: 1px solid #662033;
    border-radius: 10px;
    color: #FFFFFF !important;
    cursor: pointer;
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
    font-size: 12px;
    font-weight: normal !important;
    padding: 2px;
    text-decoration: none;
    width: 100px;
}

/*
    Location Styles
*/

#rooms article.map{
    float: left;
    width: 55%;
}

#rooms article.map img{
    width: 100%;
}

#rooms article.info{
    float: left;
    padding: 30px 20px;
    width: 40%;
    font-size: 15px;
}

#rooms article.info h2{
    color: #662033;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 30px;
}

#rooms article.info p{
    font-size: 16px;
    margin-bottom: 15px;
}

#rooms article.info p a{
    color: #662033;
    font-weight: bold;
}

/*
    Service Styles
*/

.changeColumnWidth{
    width: 40% !important;
}

/*
    Product Style
*/

#productos{
    width: 90%;
}

#productos article{
    float: left;
    margin: 15px 25px;
    width: 25%;
}

#productos article figure img{
    border-radius: 15px;
    width: 100%;
}

#productos article figure figcaption{
    color: #662033;
    font-size: 17px;
    font-weight: bold;
    margin-top: 8px;
    text-align: center;
}

/* Galeria */

#galeria{
    background: rgba(73, 79, 84, 0.95);
    height: 90%;
    display: none;
    left: 5%;
    position: absolute;
    top: 5%;
    width: 90%;
    z-index: 20;
}

#galeria aside{
    left: 95%;
    position: absolute;
    top: 3%;
    cursor: pointer;
}

#galeria aside img{
    width: 35px;
}

#galeria .content{
    position: relative;
    top: 50px;
}